<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcc.user.mapper.ProductIntroMapper">
 
 <select id="findById" resultType="com.zcc.user.model.ProductIntro">
 	select * 
 	from t_productintro
 	where id=#{id}
 </select>
 
 <insert id="add" useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO t_productintro (content,productId) VALUES (#{content},#{productId})
 </insert>
 
 <update id="update">
 	UPDATE t_productintro SET content=#{content},productId=#{productId} 
 	WHERE id=#{id}
 </update>
 
 <delete id="delete">
 	DELETE FROM t_productintro 
 	WHERE id=#{id}
 </delete>
 
</mapper>